@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
	background-color: #e1e8eb;
	margin: 0;
	font-family: Staatliches;
	color: #343a40;
	text-align: center;
}
.header, h1{
	text-align: center;
	background-color: #7952b3;
	margin: 0;
	padding: 10px;
	font-size: 50px;
}
.points-table {
	text-align: center;
	background-color: #ffc107;
	margin: 0;
	font-size: 30px;
}
table, .choice {
	margin: 0 auto;
}
th, td {
	padding: 10px 30px 0px 30px;
}
.choices {
	text-align: center;
}
.choice {
	display: inline;
}